<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>倒數計時器</title>
	<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
	<script src="js/time.js"></script>
	<style>

		* {
			  -webkit-box-sizing: border-box;
			     -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding:0px;
			margin:0px
		}

	</style>
</head>
<body>
	<div id="counter"><p class="time"></p></div>  <!-- 倒數計時器位置 -->
</body>
</html>
