<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>倒數計時器</title>
	<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
	<script>
  		$(document).ready(function () {
  			$.get('/time',function(result){
  			var time2 = new Date();
  			var str = result[1].toString()+' '+result[2].toString()+' ,'+result[0].toString();
  			var time = Date.parse( str );
		  	var minus=time-time2.getTime();
		  	setTimeout(show, 1000);
			function show() {
			      var day = Math.floor(minus/1000/60/60/24);
			      var hour = Math.floor((minus-day*1000*60*60*24)/1000/60/60);
			      var minute = Math.floor((minus-day*1000*60*60*24-hour*1000*60*60)/1000/60);
			      var second = Math.floor((minus-day*1000*60*60*24-hour*1000*60*60-minute*1000*60)/1000)
			      $("p.time").html(day+' day '+hour+' hour '+minute+' minute '+second+' second ');
			      minus-=1000;
			      setTimeout(show, 1000);
			}
  			});
  		});
	</script>
	<style>

		* {
			  -webkit-box-sizing: border-box;
			     -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding:0px;
			margin:0px
		}

	</style>
</head>
<body>
	<div id="counter"><p class="time"></p></div>  <!-- 倒數計時器位置 -->
</body>
</html>
